@font-face {
    font-family: "caviar-dreams";
    src: url('../fonts/CaviarDreams.ttf');
}
@font-face {
    font-family: "Abadi";
    src: url('../fonts/AbadiMTStd.ttf');
}
@font-face  {
    font-family: "Abadi extra light" ;
    src: url('../fonts/AbadiMTStd-ExtraLight.ttf');
}
:root{
    --color-background-nav: #0e2d54;
    --color-back-container: #5488c8;
    --color-neutral-20: #e8e9ed;
    --color-neutral-30: white ;
}

.container-thanks{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 10 10;
}
.container-thanks h1, .container-thanks h2{
    font-family: 'Abadi extra light';
    font-weight: bold;
    color: #0e2d54;
    text-align: center;
}
.container-thanks img{
    width: 700px;
}
